:root {
  --primary-color: #06aa48;
  --secondary-color: #08d45a;
  --header-color: #ffffff;
}

header {
  color: var(--header-color);
  background-image: linear-gradient(
    160deg,
    var(--primary-color) 0%,
    var(--secondary-color) 100%
  );
  text-align: center;
  padding: 2% 2%;
}
header p {
  font-size: 2.5rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
}
/* Mobile menu */
.nav-links {
  display: flex;
  gap: 1rem
}
.nav-links li a {
  display: block;
  padding: 15px 5px;
}
.nav-links li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.nav-item.button {
  order: 2;
}
.nav-item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .nav-item {
  display: block;
}

.column{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
footer {
  color: var(--header-color);
  height: 20%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
}
.news {
  border: 1px solid #06aa48;
}

.font {
  margin: 2%;
  text-align: justify;
}

figcaption {
  color: #555;
}
img {
  height: auto;
  width: 100%;
}
.titulo-noticia {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 2%;
}
.news .descricao-noticia,
.figcaption {
  color: #333;
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links{
    align-items: center;
  }

  .nav-item {
    order: 1;
    display: flex;
    font-size: 1.5rem;
    align-items:center;
  }
  .toggle {
    display: none;
}
}
